.timeline-region {
  width: 100%;
  margin: 0;
  margin-top: 1px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: initial;
  display: flex;
  flex-direction: row;

  .remove-button {
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    color: #ffaaaa;
    display: flex;
    align-content: center;

    img {
      margin: auto;
      height: 1em;
      width: 1em;
    }
  }

  .region-data {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 1;

    .region-name {
      padding: 0;
      text-align: center;

      p {
        margin: 0;
        margin-top: 2vh;
      }
    }

    .region-wait {
    }
  }
}

.timeline-region.playing {
  background-color: #448844;
  color: #ffffff;
}

.timeline-region.stopped {
  background-color: #333333;
  color: #aaaaaa;
}
