.pan-control {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-bottom: 2vh;

  .slider-holder {
    flex-grow: 2;
  }

  .label {
    align-content: center;
    justify-content: center;
    margin: 1.0vw;
    flex-grow: 1;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
