#mixer-app {
  display: block;
  border-radius: 5px;
  background-color: #efefef;

  .timeline-holder {
    height: 88%;
    margin-bottom: 3%;
  }

  .control-holder {
    height: 10%;
  }
}

@media only screen
  and (max-device-width: 736px) {
    #mixer-app {
      margin-top: 2vh;
      height: 95vh;
    }
}
